*  {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}

:root {
	--Vpadding: 20px;
	--Hpadding: 15px;
	--padding: var(--Vpadding) var(--Hpadding);
	--grey: #f2f4f2;
	--black: #333;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

img {
	width: 100%;
}

button {
	cursor: pointer;
}